<ul class="status__player">
    <li>
        <div class="player__content">
            <div class="player__cell player1"></div>
            <% if (player1) { %>
                <% if (role === 1) { %>
                    <div class="player__status"></div>
                <% } %>
                <span class="player__name">
                    <%= player1.get('nickname') %>
                    <% if (owner === 1) { %> (me) <% } %>
                </span>
            <% } %>
        </div>
    </li>
    <li>
        <div class="player__content player2">
            <div class="player__cell player2"></div>
            <% if (player2) { %>
                <% if (role === 2) { %>
                    <div class="player__status"></div>
                <% } %>
                <span class="player__name">
                    <%= player2.get('nickname') %>
                    <% if (owner === 2) { %> (me) <% } %>
                </span>
            <% } %>
        </div>
    </li>
</ul>
