extends ../layouts/default

block content
	.container
		h1 Export Leads
		p Select a Broker and a month
		.row
			.col-sm-12
				form(class='form-inline', action='/monthly-leads-download', method='post')
					.form-group
						label Broker
						select(name='broker').form-control
							each broker in brokers
								option(value=broker.slug) #{broker.name}
						label From Date
						input(type='text', name='fromdate', id='fromdate')
						label To Date
						input(type='text', name='todate', id='todate')
						.row
						.col-sm-12
								&nbsp;
							button.btn.btn-large.btn-primary(type="submit") Export Leads
block js
	script.
		$(function () {
			$('#fromdate').datepicker({dateFormat: 'yy-mm-dd'});
			$('#todate').datepicker({dateFormat: 'yy-mm-dd'});
		});
