extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='250')
		h1 Welcome to RateCity Ultimate
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p <a href='https://www.ratecity.com.au' target='_blank'>RateCity Website</a>
