/*
 * Key Frames
 =================================*/

// tada
@-webkit-keyframes tada {
    0% { -webkit-transform: scale(0); }
    6% { -webkit-transform: scale(1); }
    12% { -webkit-transform: scale(0.5); }
    21% { -webkit-transform: scale(1); }
    94% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(0); }
}
@keyframes tada {
    0% { transform: scale(0); }
    6% { transform: scale(1); }
    12% { transform: scale(0.5); }
    21% { transform: scale(1); }
    94% { transform: scale(1); }
    100% { transform: scale(0); }
}

// guide
@-webkit-keyframes guide {
    0% { border-color: #ddd; }
    50% { border-color: #999; }
    100% { border-color: #ddd; }
}
@keyframes guide {
    0% { border-color: #ddd; }
    50% { border-color: #999; }
    100% { border-color: #ddd; }
}

// bounceInLeft
@-webkit-keyframes bounceInLeft {
    0% { opacity: 0; -webkit-transform: translateX(-2000px); }
    60% { opacity: 1; -webkit-transform: translateX(30px); }
    80% { -webkit-transform: translateX(-10px); }
    100% { -webkit-transform: translateX(0); }
}
@keyframes bounceInLeft {
    0% { opacity: 0; transform: translateX(-2000px); }
    60% { opacity: 1; transform: translateX(30px); }
    80% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

// bounceOutRight
@-webkit-keyframes bounceOutRight {
    0% { -webkit-transform: translateX(0); }
    20% { opacity: 1; -webkit-transform: translateX(-20px); }
    100% { opacity: 0; -webkit-transform: translateX(2000px); }
}
@keyframes bounceOutRight {
    0% { transform: translateX(0); }
    20% { opacity: 1; transform: translateX(-20px); }
    100% { opacity: 0; transform: translateX(2000px); }
}

// bounceInDown
@-webkit-keyframes bounceInDown {
    0% { opacity: 0; -webkit-transform: translateY(-2000px); }
    60% { opacity: 1; -webkit-transform: translateY(30px); }
    80% { -webkit-transform: translateY(-10px); }
    100% { -webkit-transform: translateY(0); }
}

@keyframes bounceInDown {
    0% { opacity: 0; transform: translateY(-2000px); }
    60% { opacity: 1; transform: translateY(30px); }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

// beap
@-webkit-keyframes beap {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.8); }
    100% { -webkit-transform: scale(1); }
}
@keyframes beap {
    0% { transform: scale(1); }
    50% { transform: scale(1.8); }
    100% { transform: scale(1); }
}
