/*
 * Key Frames
 =================================*/
@-webkit-keyframes tada {
    0% { -webkit-transform: scale(0); }
    6% { -webkit-transform: scale(1); }
    12% { -webkit-transform: scale(0.5); }
    21% { -webkit-transform: scale(1); }
    94% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(0); }
}
@keyframes tada {
    0% { transform: scale(0); }
    6% { transform: scale(1); }
    12% { transform: scale(0.5); }
    21% { transform: scale(1); }
    94% { transform: scale(1); }
    100% { transform: scale(0); }
}
@-webkit-keyframes guide {
    0% { border-color: #ddd; }
    50% { border-color: #999; }
    100% { border-color: #ddd; }
}
@keyframes guide {
    0% { border-color: #ddd; }
    50% { border-color: #999; }
    100% { border-color: #ddd; }
}
@-webkit-keyframes bounceInLeft {
    0% { opacity: 0; -webkit-transform: translateX(-2000px); }
    60% { opacity: 1; -webkit-transform: translateX(30px); }
    80% { -webkit-transform: translateX(-10px); }
    100% { -webkit-transform: translateX(0); }
}
@keyframes bounceInLeft {
    0% { opacity: 0; transform: translateX(-2000px); }
    60% { opacity: 1; transform: translateX(30px); }
    80% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}
@-webkit-keyframes bounceOutRight {
    0% { -webkit-transform: translateX(0); }
    20% { opacity: 1; -webkit-transform: translateX(-20px); }
    100% { opacity: 0; -webkit-transform: translateX(2000px); }
}
@keyframes bounceOutRight {
    0% { transform: translateX(0); }
    20% { opacity: 1; transform: translateX(-20px); }
    100% { opacity: 0; transform: translateX(2000px); }
}
