//
// Variables
//
$baseFontsize: 16px;
$boardFontSize: 10px;
// colors
$primary: #428bca;
$ligthGreen: #27ae60;
$valid: #f1c40f;
$invalid: rgba(204,204,204,0.6);
$player1_cell: #e74c3c;
$player2_cell: #3498db;
$player1_square: rgba(231, 76, 60, 0.5);
$player2_square: rgba(52, 152, 219, 0.5);

/*
 * #Ultimate
 =================================*/
#ultimate {
    overflow: hidden;
    min-height: 300px;
    font-size: $baseFontsize;
}

/*
 * Menus
 =================================*/
.slider {
    &.bounceInLeft {
        animation: bounceInLeft 1s ease both;
        -webkit-animation: bounceInLeft 1s ease both;
    }

    &.bounceOutRight {
        animation: bounceOutRight 1s 0.1s ease both;
        -webkit-animation: bounceOutRight 1s 0.1s ease both;
    }
}
.menu {
    text-align: center;

    ul {
        list-style: none;

        li a {
            padding: 15px;
            border: 2px solid #ccc;
            font-size: 20px;
            width: 50%;
            margin: 15px auto;
            cursor: pointer;
            transition: background-color 0.5s ease;
            display: block;
            text-decoration: none;
            color: #333;

            &:hover,
            &:active {
                background-color: #eee;
            }
        }
    }
}

/*
 * Board
 =================================*/
.board {
    width: 47em;
    min-width: 50%;
    height: 100%;
    font-size: $boardFontSize;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    float: left;

    &:after {
        content: ' ';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
/*
 * Square
 =================================*/
.square {
    width: 13em;
    height: 13em;
    padding: 1em;
    border: 0.5em solid #ddd;
    float: left;
    position: relative;

    &:nth-child(3n+2),
    &:nth-child(3n) {
        margin-left: -0.5em;
    }
    &:nth-last-child(-n+6) {
        margin-top: -0.5em;
    }
    &.valid {
        z-index: 4;
        border-color: $valid;
    }
    &.invalid {
        background-color: $invalid;
    }
    &.guide {
        z-index: 4;
        animation: guide 2s infinite ease-in-out;
        -webkit-animation: guide 2s infinite ease-in-out;
    }
    &.moveable {
        .cell {
            &:hover {
                cursor: pointer;
                background-color: yellow;
                opacity: 0.4;
            }
            &.p1,
            &.p2 {
                &:hover {
                    background: white;
                    opacity: 1;
                }
            }
        }
    }
    &.p1 {
        background-color: $player1_square;
    }
    &.p2 {
        background-color: $player2_square;
    }
}

/*
 * Cell
 =================================*/
.cell {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    float: left;
    border-right: 0.5em solid #eee;
    border-bottom: 0.5em solid #eee;
    opacity: 1;
    transition: background-color 0.2s ease-in, opacity 0.2s ease-in;

    &:nth-child(3n) {
        border-right: none;
    }
    &:nth-last-child(-n+3) {
        border-bottom: none;
    }
    &.tada:before {
        animation: tada 5s infinite ease both;
        -webkit-animation: tada 5s infinite ease both;
    }
}

/*
 * Players
 =================================*/
.cell {
    &.p1,
    &.p2 {
        &:before {
            width: 100%;
            height: 100%;
            content: '';
            display: block;
            opacity: 0.7;
        }
    }

    &.p1:before {
        background-color: $player1_cell;
    }
    &.p2:before {
        background-color: $player2_cell;
    }
}

/*
 * Status
 =================================*/
.status-wrapper {
    width: 30%;
    float: left;
}
.status__player {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: table;
        width: 100%;
        margin-bottom: 1.5em;

        .player__cell {
            width: 1em;
            height: 1em;
            opacity: 0.7;
            margin-top: 0.4em;
            float: left;

            &.player1 {
                background-color: $player1;
            }
            &.player2 {
                background-color: $player2;
            }
        }
        .player__name {
            margin: 0.3em 0 0 1.5em;
        }
        .player__status {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: $ligthGreen;
            margin-top: 0.3em;
            float: right;
        }
    }
}

/*
 * Miscellaneous
 =================================*/

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

    &.label-primary {
        background-color: $primary;
    }
}
.link {
    font-size: 0.8em;
    color: $primary;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}
.status {
    font-style: italic;
    margin-left: 10px;
    line-height: 1.4;
}

@import 'keyframes';
