<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Ultimate Tic Tac Toe</title>
    <link href="http://ultimate.tantanguanguan.com/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="/app/stylesheets/css/site.css">
    <link rel="stylesheet" href="/app/stylesheets/css/style.css">
  </head>
  <body>
    <div class="header">
        <a href="https://github.com/mrmarktyy/ultimate">
            <img class="fork-me" alt="Fork me on GitHub" src="/images/forkme.png">
        </a>
        <div class="container">
            <h1 class="header__title">Ultimate Tic Tac Toe</h1>
            <h5 class="header__subtitle">A stategic boardgame for 2 players.</h5>
        </div>
    </div>
    <div class="container">
        <div id="ultimate">
            <div class="loader">
                <p>LOADING...</p>
            </div>
        </div>
    </div>
    <!--  Development mode  -->
    <script type="text/javascript" src="/app/vendor/socket.io.js"></script>
    <script type="text/javascript" src="/app/vendor/sails.io.js"></script>
    <script data-main="app/main" src="/app/vendor/require.js"></script>
    <!--  Production mode -->
    <!--
        <script src="dist/main.js"></script>
        <script type="text/javascript">
            require(['main']);
        </script>
    -->
    </body>
</html>
