<div class="slider rules">
    <div class="content">
        <h1 class="title">How to Play</h1>
        <p>Ultimate Tic-Tac-Toe is a variant on tic-tac-toe with a twist. There are 9 games of 3x3 tic-tac-toe on the board. The rules are simple and copied verbatim from <a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/" target="_blank">this write up by Ben Orlin</a>.</p>
        <ul>
            <li>Each turn, you mark one of the small squares.</li>
            <li>When you get three in a row on a small board, you’ve won that board.</li>
            <li>To win the game, you need to win three small boards in a row.</li>
            <li><strong>You don’t get to pick which of the nine boards to play on. That’s determined by your opponent’s previous move. Whichever square he picks, that’s the board you must play in next.</strong></li>
            <li>If your opponent sends you to a board that's already been won, you can play anywhere on the board.</li>
            <li>If your opponent sends you to a board that's full, you can play anywhere on the board.</li>
            <li>Enjoy!</li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            <li><a class="back">Back</a></li>
        </ul>
    </div>
</div>
