body {
    margin: 0;
    font-family: Helvetica, Georgia, Consolas;
}
.header {
    width: 100%;
    height: 200px;
    background: #3498db;
    color: white;
}
.container {
    padding: 10px;
    width: 980px;
    margin: 0 auto;
}
.fork-me {
    position: absolute;
    top: 0;
    right: 0;
}
