/*
 * Variables
 =================================*/
/*
 * Home Menu
 =================================*/
.menu {
  text-align: center; }
  .menu ul {
    list-style: none; }
    .menu ul li a {
      padding: 15px;
      border: 2px solid #ccc;
      font-size: 20px;
      width: 50%;
      margin: 15px auto;
      cursor: pointer;
      transition: background-color 0.5s ease;
      display: block;
      text-decoration: none;
      color: #333; }
      .menu ul li a:hover, .menu ul li a:active {
        background-color: #eee; }

/*
 * Board
 =================================*/
.board {
  width: 47em;
  min-width: 50%;
  height: 100%;
  font-size: 10px;
  float: left; }
  .board:after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

/*
 * Square
 =================================*/
.square {
  width: 13em;
  height: 13em;
  padding: 1em;
  border: 0.5em solid #ddd;
  float: left;
  position: relative; }
  .square:nth-child(3n+2), .square:nth-child(3n) {
    margin-left: -0.5em; }
  .square:nth-last-child(-n+6) {
    margin-top: -0.5em; }
  .square.valid {
    z-index: 4;
    border-color: #f1c40f; }
  .square.invalid {
    background-color: rgba(204, 204, 204, 0.6); }
  .square.guide {
    z-index: 4;
    animation: guide 2s infinite ease-in-out;
    -webkit-animation: guide 2s infinite ease-in-out; }
  .square.moveable .cell.o:hover {
    background: white;
    opacity: 1; }
  .square.moveable .cell:hover {
    cursor: pointer;
    background-color: yellow;
    opacity: 0.4; }
  .square.p1 {
    background-color: rgba(231, 76, 60, 0.5); }
  .square.p2 {
    background-color: rgba(52, 152, 219, 0.5); }

/*
 * Cell
 =================================*/
.cell {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  float: left;
  border-right: 0.5em solid #eee;
  border-bottom: 0.5em solid #eee;
  opacity: 1;
  transition: background-color 0.2s ease-in, opacity 0.2s ease-in; }
  .cell:nth-child(3n) {
    border-right: none; }
  .cell:nth-last-child(-n+3) {
    border-bottom: none; }
  .cell.tada:before {
    animation: tada 3s 1s infinite ease both;
    -webkit-animation: tada 3s 1s infinite ease both; }

/*
 * Players
 =================================*/
.cell.o:before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: 0.7; }
.cell.o.p1:before {
  background-color: #e74c3c; }
.cell.o.p2:before {
  background-color: #3498db; }

/*
 * Status
 =================================*/
.status {
  width: 30%;
  float: left; }

.status__title {
  font-size: 1.8em;
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2); }

.status__round {
  font-size: 1.5em;
  margin: 0.5em 0 1.5em; }
  .status__round span {
    float: right; }

.status__player {
  list-style: none;
  padding: 0; }
  .status__player li {
    display: table;
    width: 100%;
    margin-bottom: 1.5em; }
    .status__player li .player__image {
      display: table-cell;
      padding-right: 1em;
      width: 2em; }
      .status__player li .player__image > img {
        background: #3498db;
        width: 2em;
        border-radius: 50%;
        padding: 0.5em; }
    .status__player li .player__content {
      display: table-cell;
      vertical-align: top; }
      .status__player li .player__content .player__cell {
        width: 2em;
        height: 2em;
        opacity: 0.7;
        float: right; }
        .status__player li .player__content .player__cell.player1 {
          background-color: #e74c3c; }
        .status__player li .player__content .player__cell.player2 {
          background-color: #3498db; }
    .status__player li .player__name {
      margin: 0.3em 0; }

/*
 * Mixins
 =================================*/
/*
 * Key Frames
 =================================*/
@-webkit-keyframes guide {
  0% {
    border-color: #ddd; }

  50% {
    border-color: #999; }

  100% {
    border-color: #ddd; } }
@-moz-keyframes guide {
  0% {
    border-color: #ddd; }

  50% {
    border-color: #999; }

  100% {
    border-color: #ddd; } }
@-ms-keyframes guide {
  0% {
    border-color: #ddd; }

  50% {
    border-color: #999; }

  100% {
    border-color: #ddd; } }
@keyframes guide {
  0% {
    border-color: #ddd; }

  50% {
    border-color: #999; }

  100% {
    border-color: #ddd; } }
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }

  3% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  6% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  9% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  12% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  15% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  18% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  21% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  24% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  27% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  30% {
    -webkit-transform: scale(1) rotate(0); }

  100% {
    -webkit-transform: scale(1) rotate(0); } }
@-moz-keyframes tada {
  0% {
    -webkit-transform: scale(1); }

  3% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  6% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  9% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  12% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  15% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  18% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  21% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  24% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  27% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  30% {
    -webkit-transform: scale(1) rotate(0); }

  100% {
    -webkit-transform: scale(1) rotate(0); } }
@-ms-keyframes tada {
  0% {
    -webkit-transform: scale(1); }

  3% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  6% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  9% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  12% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  15% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  18% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  21% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  24% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  27% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  30% {
    -webkit-transform: scale(1) rotate(0); }

  100% {
    -webkit-transform: scale(1) rotate(0); } }
@keyframes tada {
  0% {
    -webkit-transform: scale(1); }

  3% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  6% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  9% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  12% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  15% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  18% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  21% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  24% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  27% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  30% {
    -webkit-transform: scale(1) rotate(0); }

  100% {
    -webkit-transform: scale(1) rotate(0); } }
