/*
 * Variables
 =================================*/
$boardFontSize: 10px;

$valid: #f1c40f;
$invalid: rgba(204,204,204,0.6);
$player1: #e74c3c;
$player2: #3498db;
$player1RGBA: rgba(231, 76, 60, 0.5);
$player2RGBA: rgba(52, 152, 219, 0.5);

/*
 * #Ultimate
 =================================*/
#ultimate {
    overflow: hidden;
    min-height: 300px;
}

/*
 * Menus
 =================================*/
.slider {
    &.bounceInLeft {
        animation: bounceInLeft 1s ease both;
        -webkit-animation: bounceInLeft 1s ease both;
    }

    &.bounceOutRight {
        animation: bounceOutRight 1s 0.1s ease both;
        -webkit-animation: bounceOutRight 1s 0.1s ease both;
    }
}
.menu {
    text-align: center;

    ul {
        list-style: none;

        li a {
            padding: 15px;
            border: 2px solid #ccc;
            font-size: 20px;
            width: 50%;
            margin: 15px auto;
            cursor: pointer;
            transition: background-color 0.5s ease;
            display: block;
            text-decoration: none;
            color: #333;

            &:hover,
            &:active {
                background-color: #eee;
            }
        }
    }
}

/*
 * Board
 =================================*/
.board {
    width: 47em;
    min-width: 50%;
    height: 100%;
    font-size: $boardFontSize;
    float: left;

    &:after {
        content: ' ';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
/*
 * Square
 =================================*/
.square {
    width: 13em;
    height: 13em;
    padding: 1em;
    border: 0.5em solid #ddd;
    float: left;
    position: relative;

    &:nth-child(3n+2),
    &:nth-child(3n) {
        margin-left: -0.5em;
    }
    &:nth-last-child(-n+6) {
        margin-top: -0.5em;
    }
    &.valid {
        z-index: 4;
        border-color: $valid;
    }
    &.invalid {
        background-color: $invalid;
    }
    &.guide {
        z-index: 4;
        animation: guide 2s infinite ease-in-out;
        -webkit-animation: guide 2s infinite ease-in-out;
    }
    &.moveable {
        .cell.o:hover {
            background: white;
            opacity: 1;
        }
        .cell:hover {
            cursor: pointer;
            background-color: yellow;
            opacity: 0.4;
        }
    }
    &.p1 {
        background-color: $player1RGBA;
    }
    &.p2 {
        background-color: $player2RGBA;
    }
}

/*
 * Cell
 =================================*/
.cell {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    float: left;
    border-right: 0.5em solid #eee;
    border-bottom: 0.5em solid #eee;
    opacity: 1;
    transition: background-color 0.2s ease-in, opacity 0.2s ease-in;

    &:nth-child(3n) {
        border-right: none;
    }
    &:nth-last-child(-n+3) {
        border-bottom: none;
    }
    &.tada:before {
        animation: tada 3s 1s infinite ease both;
        -webkit-animation: tada 3s 1s infinite ease both;
    }
}

/*
 * Players
 =================================*/
.cell.o {
    &:before {
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: 0.7;
    }

    &.p1:before {
        background-color: $player1;
    }
    &.p2:before {
        background-color: $player2;
    }
}

/*
 * Status
 =================================*/
.status {
    width: 30%;
    float: left;
}
.status__title {
    font-size: 1.8em;
    margin: 0.5em 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.status__round {
    font-size: 1.5em;
    margin: 0.5em 0 1.5em;

    span {
        float: right;
    }
}
.status__player {
    list-style: none;
    padding: 0;

    li {
        display: table;
        width: 100%;
        margin-bottom: 1.5em;

        .player__image {
            display: table-cell;
            padding-right: 1em;
            width: 2em;

            & > img {
                background: #3498db;
                width: 2em;
                border-radius: 50%;
                padding: 0.5em;
            }
        }
        .player__content {
            display: table-cell;
            vertical-align: top;

            .player__cell {
                width: 2em;
                height: 2em;
                opacity: 0.7;
                float: right;

                &.player1 {
                    background-color: $player1;
                }
                &.player2 {
                    background-color: $player2;
                }
            }
        }
        .player__name {
            margin: 0.3em 0;
        }
    }
}
/*
 * Mixins
 =================================*/
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

/*
 * Key Frames
 =================================*/
@include keyframes(guide) {
  0% {
    border-color: #ddd;
  }
  50% {
    border-color: #999;
  }
  100% {
    border-color: #ddd;
  }
}
@include keyframes(tada) {
  0% {
    -webkit-transform: scale(1);
  }
  3% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  6% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  9% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  12% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  15% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  18% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  21% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  24% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  27% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  30% {
    -webkit-transform: scale(1) rotate(0);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}
@include keyframes(bounceInLeft) {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@include keyframes(bounceOutRight) {
  0% {
    -webkit-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
