/*
 * Variables
 =================================*/
$valid: #f1c40f;
$invalid: rgba(204,204,204,0.6);
$player1: #e74c3c;
$player2: #3498db;
$player1RGBA: rgba(231, 76, 60, 0.5);
$player2RGBA: rgba(52, 152, 219, 0.5);

/*
 * Home Menu
 =================================*/
.main-menu {
    text-align: center;

    ul {
        list-style: none;

        li a {
            padding: 15px;
            border: 2px solid #ccc;
            font-size: 20px;
            width: 50%;
            margin: 15px auto;
            cursor: pointer;
            transition: background-color 0.5s ease;
            display: block;
            text-decoration: none;
            color: #333;

            &:hover,
            &:active {
                background-color: #eee;
            }
        }
    }
}

/*
 * Board
 =================================*/
.board {
    width: 47em;
    height: 100%;
    font-size: 12px;

    &:after {
        content: ' ';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
/*
 * Square
 =================================*/
.square {
    width: 13em;
    height: 13em;
    padding: 1em;
    border: 0.5em solid #ddd;
    float: left;
    position: relative;

    &:nth-child(3n+2),
    &:nth-child(3n) {
        margin-left: -0.5em;
    }
    &:nth-last-child(-n+6) {
        margin-top: -0.5em;
    }
    &.valid {
        z-index: 4;
        border-color: $valid;
    }
    &.invalid {
        background-color: $invalid;
    }
    &.guide {
        z-index: 4;
        animation: guide 2s infinite ease-in-out;
        -webkit-animation: guide 2s infinite ease-in-out;
    }
    &.moveable {
        .cell.o:hover {
            background: white;
            opacity: 1;
        }
        .cell:hover {
            cursor: pointer;
            background-color: yellow;
            opacity: 0.4;
        }
    }
    &.p1 {
        background-color: $player1RGBA;
    }
    &.p2 {
        background-color: $player2RGBA;
    }
}

/*
 * Cell
 =================================*/
.cell {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    float: left;
    border-right: 0.5em solid #eee;
    border-bottom: 0.5em solid #eee;
    opacity: 1;
    transition: background-color 0.2s ease-in, opacity 0.2s ease-in;

    &:nth-child(3n) {
        border-right: none;
    }
    &:nth-last-child(-n+3) {
        border-bottom: none;
    }
}

/*
 * Players
 =================================*/
.cell.o {
    &:before {
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: 0.7;
    }

    &.p1:before {
        background-color: $player1;
    }
    &.p2:before {
        background-color: $player2;
    }
}

/*
 * Mixins
 =================================*/
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

/*
 * Key Frames
 =================================*/
@include keyframes(guide) {
  0% {
    border-color: #ddd;
  }
  50% {
    border-color: #999;
  }
  100% {
    border-color: #ddd;
  }
}
